.centro{
   background-color: black;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

h2{
   background-color: black;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

p{
   background-color: black;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}


.video{
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.parte{
   background-color: black;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.meta{
   background-color:greenyellow;
}
a{
   color: blue;
}